<div class="bg-light">
    <div class="w-100 d-flex justify-content-end pe-3 pt-3">
        <ng-container *ngTemplateOutlet="paginator"></ng-container>
    </div>
    <ng-container [ngSwitch]="movies.length > 0">
        <div class="d-flex flex-wrap justify-content-center"
             *ngSwitchCase="true">
            <div class="w-100 d-flex justify-content-center text-dark">
                <h1>Search results for: {{orderObj.params.key}}</h1>
            </div>
            <ng-container *ngFor="let movie of movies">
                <div class="card m-3 shadow"
                     style="width: 18rem;">
                    <img *ngIf="movie.image"
                         src="https://image.tmdb.org/t/p/w500{{movie.image}}"
                         class="card-img-top"
                         alt="{{movie.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text text-truncate">{{movie.subtitle}}</p>
                        <a [routerLink]="['/details']"
                           [queryParams]="{ id: movie.id}"
                           class="btn btn-primary">View more</a>
                    </div>
                </div>
            </ng-container>
        </div>
        <div *ngSwitchDefault
             class="d-flex justify-content-center">
            No results
        </div>
    </ng-container>

    <div class="w-100 d-flex justify-content-center">
        <ng-container *ngTemplateOutlet="paginator"></ng-container>
    </div>
</div>


<ng-template #paginator>
    <ngb-pagination [collectionSize]="collectionSize"
                    [pageSize]="20"
                    [(page)]="page"
                    (pageChange)="loadPage(page)"
                    [maxSize]="5"
                    [rotate]="true"
                    [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
</ng-template>
