<h4 class="m-3 mt-5">Add more movies to this catalog:</h4>
<div class="col-10 col-md-6 col-lg-4 m-3">
    <div class="offcanvas-body">
        <div class="input-group">
            <div class="bg-light text-black border-white p-1 px-3"
                 data-bs-dismiss="offcanvas"
                 id="button-addon2"
                 role="button">
                <app-svg-icon class="bi bi-search"
                              name="search"
                              size="16px"
                              color="currentColor"
                              hoverColor="currentColor"></app-svg-icon>
            </div>
            <input type="text"
                   class="form-control"
                   placeholder="Movie title"
                   aria-label="Movie title"
                   aria-describedby="button-addon2"
                   focusedInput>
        </div>
    </div>
</div>
