<div *ngIf="sliderMovies?.length">
    <app-slider-rating [movies]="sliderRatingMovies"></app-slider-rating>
</div>
<div class="d-flex justify-content-center flex-wrap background"
     *ngIf="carouselMovies?.length">
    <div class="w-100 text-center">
        <h1 class="mt-3 text-black">Most popular movies</h1>
    </div>
    <div class="shadow w-75 mt-2 mb-5">
        <app-carousel [movies]="carouselMovies"></app-carousel>
    </div>
</div>
<div class="mt-5"
     *ngIf="sliderMovies?.length">
    <app-slider [movies]="sliderMovies"></app-slider>
</div>
