* {
    font-family: 'Oswald', sans-serif;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/Oswald/static/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../../fonts/Oswald/static/Oswald-Bold.ttf');
}

@font-face {
    font-family: 'Oswald-ExtraLight';
    src: url('../../fonts/Oswald/static/Oswald-ExtraLight.ttf');
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('../../fonts/Oswald/static/Oswald-Light.ttf');
}

@font-face {
    font-family: 'Oswald-Medium';
    src: url('../../fonts/Oswald/static/Oswald-Medium.ttf');
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../../fonts/Oswald/static/Oswald-SemiBold.ttf');
}