<div class="vh-100 d-flex align-items-center flex-column justify-content-center bg-light">
    <div class="w-50 text-center">
        <h1 class="cover-heading">Create your taste.</h1>
        <p class="lead">Create your own film taste by browsing catalogs created by other people, or creating your
            own unique compositions and share to everyone.</p>
        <p class="lead">
            <a routerLink="/test"
               class="m-1 btn btn-lg btn-secondary text-white">Create</a>
            <a routerLink="/test"
               class="m-1 btn btn-lg btn-secondary text-white">Browse</a>
        </p>
    </div>
</div>
