.inset-shadow {
    -webkit-box-shadow: inset 0px 0px 76px -36px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 76px -36px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 76px -36px rgba(66, 68, 90, 1);
}