<div class="min-page-height d-flex align-items-center flex-column justify-content-center inset-shadow">
    <div class="w-50 text-center">
        <h1 class="cover-heading display-3">Create your taste.</h1>
        <h5>Create your own film taste by browsing catalogs created by other people, or creating your
            own unique compositions and share to everyone.</h5>
        <p class="lead mt-4">
            <a routerLink="/myCatalogs"
               class="m-1 btn btn-lg btn-secondary text-white">Create</a>
            <a routerLink="/test"
               class="m-1 btn btn-lg btn-secondary text-white">Browse</a>
        </p>
    </div>
</div>
