.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}

@media (max-width: 767.98px) {
    .star {
        font-size: 1rem;
    }
}

.full {
    color: red;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
}