<ng-template #t
             let-fill="fill">
    <span class="star"
          [class.full]="fill === 100">
        <span class="half"
              [style.width.%]="fill">&hearts;</span>&hearts;
    </span>
</ng-template>

<ngb-rating [style.font-size]="heartsSize"
            [(rate)]="currentRate"
            [starTemplate]="t"
            [readonly]="true"
            [max]="max"></ngb-rating>

<ng-container *ngIf="showNumbers">
    <hr style="width: 29rem;" />
    <pre class="m-0">Rate: <b>{{currentRate}}</b> / <b>{{max}}</b></pre>
</ng-container>
